{% extends 'layout.html.twig' %}



{% block body %}
<div class="container">

    <h1>{% if app.user %}Bonjour {{app.user | capitalize}} :D {% endif %}</h1>

    {% if not app.user %}
    <p>Tu dois t'<a href="/register">inscrire</a> ou te <a href="/login">connecter</a> pour pouvoir utiliser ce site internet :/ </p>
    {% endif %}
</div>
{% endblock %}