{% extends 'layout.html.twig' %}

{% block title %}Espace Admin{% endblock %}


{% block body %}
<div class="container">
<a href="{{path('internship_add')}}">Ajouter un stage</a>
</div>
{% endblock %}
