{% extends 'layout.html.twig' %}
{% block title %}Offres de stage de {{userID | capitalize}}{% endblock %}
{% block body %}



<h2 class="mb-4 text-center">Offres de stage de : {{userID | capitalize}}</h2>
{% if internships | length < 1 %}
<div class="container">
    <p class="center"> Aucune offre à afficher :( </p>
</div>
{%  else %}
<table class="table table-dark">
    <thead>
        <tr>

            <th scope="col">Status</th>
            <th scope="col">Intitulé</th>
            <th scope="col">Nom de l'entreprise</th>
            <th scope="col">Date dernier évennement</th>
            <th scope="col">Dernier évennement</th>
            <th scope="col">Prochaine étape</th>
            <th scope="col">Envie d'être pris</th>
            <th scope="col">Toutes les infos</th>
            <th scope="col">Editer</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for internship in internships | reverse %}
        {% if internship.deleted == false %}
        <tr>

            <td>{{internship.status |capitalize}}</td>
            <td>{{internship.jobTitle |capitalize}}</td>
            <td>{{internship.companyName | lower | capitalize }}</td>
            <td>{{internship.eventDate | localizeddate('none', 'none', 'fr', null, 'dd/MM/y')}}</td>
            <td>{{internship.lastEvent}}</td>
            <td>{{internship.nextStep}}</td>
            <td>{{internship.interest}}/5</td>
            <td><a class="btn btn-primary" href="{{path('internship_view', {'id' : internship.id })}}" role="button">+
                    d'infos</a> </td>
            <td><a class="btn btn-primary" href="{{path('internship_edit', {'id' : internship.id })}}"
                    role="button">Editer</a> </td>
            <td><a class="btn btn-danger" href="{{path('internship_delete', {'id' : internship.id})}}" role="button"
                    onclick="return confirm('Es-tu sur ?')">Supprimer</a>
            </td>
        </tr>

        {% endif %}
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% if app.user %}
<a class="btn btn-primary" href="{{path('internship_add')}}" role="button">Ajouter un stage</a>
{% endif %}
{% endblock %}