{% extends 'layout.html.twig' %}
{% block title %}{{internship.companyName}}{% endblock %}

{% block body %}
<div class="container">

<h1>{{internship.companyName}}</h1>





<p>Id : {{internship.id}}</p>
<h2>Status : {{internship.status}}</h2>
<p>Site web : {{internship.website}}</p>
<p>Email : {{internship.email}}</p>
<p>Téléphone : {{internship.phone}}</p>
<p>Url de l'annonce : {{internship.jobAdUrl}}</p>
<p>Observations : {{internship.observations}}</p>
<p>Date du dernier évennement : {{internship.eventDate | localizeddate('none', 'none', 'fr', null, 'dd/MM/y')}}</p>
<p>Type de l'évennement : {{internship.lastEvent}}</p>
<p>Réponse : {{internship.answer}}</p> 

<a class="btn btn-primary" href="{{path('internship_edit', {'id' : internship.id })}}" role="button">Editer</a>
<a class="btn btn-danger" href="{{path('internship_delete', {'id' : internship.id})}}" role="button" onclick="return confirm('Es-tu sur ?')">Supprimer</a>

</div>
{% endblock %}